/* Styles de base pour le corps */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Style pour l'en-tête */
header {
    background: url('images/SHOOT\ M.ASSA-140.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    position: relative;
}

.header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

/* Style pour la navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Styles pour les sections */
section {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour la galerie */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    margin: 0.5rem;
    width: calc(33.333% - 1rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Style pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Styles pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 1rem;
}

form input,
form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 80%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Ajouter des styles pour les liens vers les réseaux sociaux */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}
